<a href="https://colab.research.google.com/github/johnfred-delossantos/CPEN-21A-CPE-1-2/blob/main/Python_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###Python Indention

In [ ]:
if 7>3:
  print("Seven is greater than three!")

###Python Comments

In [1]:
#This is a comment
print("Hello World!\nGood Morning!")

Hello World!
Good Morning!

###Variable Naming Conventions

In [29]:
x = 8
y = 9
age = 19
fav_color = "Yellow"
name = "John Fred Delos Santos"
_x = 10

print(x)
print(age)
print(fav_color)
print(name)
print(_x)
print("I am", name + ",", age , "years old, my favorite color is " + fav_color + ".")

8
19
Yellow
John Fred Delos Santos
10
I am John Fred Delos Santos, 19 years old, my favorite color is Yellow.

###Python Variable

In [8]:
a = 0
b = 1
c = 2
d = "Fred"

print(a)
print(b)
print(c)
print(d)

0
1
2
Fred

###Casting

In [13]:
e = "John" #This is a type string

e = int(4)
print(e)
f = float(4)
print(f)

4
4.0

###Type() function

In [49]:
g = 25
h = " Mushi"
g2 = 25.0
print(type(g))
print(type(h))
print(type(g2))

<class 'int'>
<class 'str'>
<class 'float'>

###Double Quotes / Single Quotes

In [35]:
name1 = "John"
name2 = 'Fred'

print("My name is " + name1 + " " + name2 + ".")

My name is John Fred.

###Case Sensitive

In [37]:
i = 8
I = "Iroh"

print(i)
print(I)

8
Iroh

###Multiple Variables

In [38]:
ele1, ele2, ele3 = "Wind", "Water", "Fire"
print(ele1)
print(ele2)
print(ele3)

Wind
Water
Fire

###One Value to Multiple Variables

In [39]:
o = p = q = "Energy"
print(o)
print(p)
print(q)

Energy
Energy
Energy

###Output Variables

In [48]:
r = "frustrating"
print("Debugging your own code is " + r + ".")

r2 = "frustrating."
r3 = "Debugging your own code is "
print(r3 + r2)

Debugging your own code is frustrating.
Debugging your own code is frustrating.

###Arithmetic Operations

In [53]:
num1 = 10
num2 = 3

print(num1 + num2)
print(num1 - num2)
print(num1 * num2)
print(num1 / num2)
print(num1 % num2)
print(num1 ** num2)
print(num1 // num2)

13
7
30
3.3333333333333335
1
1000
3

###Assigment Operators

In [66]:
num1 = 10
num2 = 40

num1 += 10
print(num1)

num2 -= 10
print(num2)

20
30

###Comparison Operators

In [70]:
num3 = 5
num4 = 5
num5 = 6

print(num3 == num4)
print(num3 >= num5)
print(num5 != num4)

True
False
True

###Logical Operators

In [74]:
print(num3 > 6 and num4 > 6)
print(num5 > 4 or num4 < 4)
print(not(num3 < 5 and num5 < 4))

False
True
True

###Identity Operators

In [75]:
print(num3 is num4)
print(num3 is not num5)

True
True

Bitwise Operators

In [83]:
bit1 = 10
bit2 = 4 

print(bit1 & bit2)
print(bit1 | bit2)
print(bit1 ^ bit2)
print(~bit1)
print(~bit2)
print(bit1 << bit2)
print(bit1 >> bit2)

0
14
14
-11
-5
160
0